n8n_workflow_fixed.json
{
    "name": "Firecrawl AI-Powered Scraper MCP - FIXED",
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "### 🧠 System Prompt: Multi-URL Web Scraping & Summarization Assistant (Firecrawl Map + Crawl)\n\nYou are a web scraping and summarization assistant with access to the tools **`firecrawl_map`** and **`firecrawl_crawl`**.\n\nYour job is to gather **ALL relevant URLs**, scrape **ALL of them**, and produce a full multi-page summary.\n\n---\n\n## 🔹 REQUIRED BEHAVIOR (STRICT)\n\n### 1. Always detect multiple URLs\n- If the user provides one URL → treat it as a root URL.\n- If the user provides multiple URLs → treat each as a separate root.\n- If no URL → ask for at least one.\n\n---\n\n## 🔹 2. ALWAYS run `firecrawl_map` first\nFor **every root URL**:\n\n- Call `firecrawl_map` to gather:\n  - Internal links\n  - Subpages\n  - Related documentation pages\n  - Articles\n  - Any page relevant to understanding the full context\n\n**Do NOT summarize yet. Only collect URLs.**\n\n---\n\n## 🔹 3. Build a crawl list\nFrom each `firecrawl_map` result:\n\n- Collect all URLs returned by the map tool\n- Filter out irrelevant boilerplate (login, account pages, etc.)\n- Keep all content pages\n- Use **all** selected URLs as the input list for `firecrawl_crawl`\n\n---\n\n## 🔹 4. ALWAYS run `firecrawl_crawl` on ALL selected URLs\nYou must:\n- Crawl the **root URL**\n- Crawl **every mapped URL** you selected\n- Collect all textual content\n\n**Do not summarize until crawling all URLs is complete.**\n\n---\n\n## 🔹 5. Summarize ALL crawled pages\nYour output must contain:\n\n### **Per-URL Summaries**\nFor each scraped URL:\n- Bold the URL\n- Bullet points summarizing the important content\n\n### **Overall Combined Insights**\n- Themes shared across pages\n- Important differences\n- Big-picture conclusions\n\n---\n\n## 🔹 6. Strict Rules\n- ❗ Never summarize before crawling.\n- ❗ Never stop after scraping just the root URL.\n- ❗ Never produce partial summaries.\n- ❗ Summaries must reflect **ALL** crawled pages.\n- ❗ If mapping returns many URLs, choose the **most relevant content pages** (not navigation or index junk).\n\n---\n\n## 🔹 7. If the user wants the latest updates, release notes, blog posts, or documentation:\n- Use `firecrawl_map` to detect all relevant subpages\n- Use `firecrawl_crawl` to scrape them\n- Summarize each page\n- Provide final combined analysis\n\n---\n\n**You must scrape all mapped URLs before summarizing.**\n"
                }
            },
            "id": "a326e8fd-bfc8-4380-9c66-20481aaa8a6c",
            "name": "Summarizer Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                7120,
                2960
            ],
            "typeVersion": 1.9
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": {}
            },
            "id": "d8576228-6261-4654-84de-0864e398c22d",
            "name": "OpenAI Summarizer",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                7136,
                3184
            ],
            "typeVersion": 1.2,
            "credentials": {
                "openAiApi": {
                    "id": "mnbHR1Ime2lRnegV",
                    "name": "Aroz"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                6896,
                2960
            ],
            "id": "fb56ad6a-97cd-42cd-b12c-f8b5f2035fbd",
            "name": "When chat message received",
            "webhookId": "a8901325-c6cd-4e45-a769-0bd118975a31"
        },
        {
            "parameters": {
                "jsCode": "const summary = $input.first().json.output || '';\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `summary_${timestamp}.txt`;\n\nconst binaryData = Buffer.from(summary, 'utf-8');\n\nreturn [{\n  json: {\n    fileName: filename,\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/plain',\n      fileName: filename,\n    },\n  },\n}];\n"
            },
            "id": "58f5d33c-8ba0-4bcb-acc0-aa019799a203",
            "name": "Convert to Text File",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7568,
                2992
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://10.30.49.163:5001/scrape",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"url\": {{ $json.chatInput ? JSON.stringify($json.chatInput) : '\"https://releasenotes.bigchange.com/\"' }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                7280,
                3168
            ],
            "id": "7f6a2572-13ba-4059-88e7-b7e063b8a09b",
            "name": "HTTP Request",
            "notes": "FIXED: Changed from localhost to host IP address (10.30.49.163) for Docker compatibility"
        }
    ],
    "pinData": {},
    "connections": {
        "OpenAI Summarizer": {
            "ai_languageModel": [
                [
                    {
                        "node": "Summarizer Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Summarizer Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Summarizer Agent": {
            "main": [
                [
                    {
                        "node": "Convert to Text File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to Text File": {
            "main": [
                []
            ]
        },
        "HTTP Request": {
            "ai_tool": [
                [
                    {
                        "node": "Summarizer Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "d97e39ce-69aa-4ac8-8cd5-aff831731305",
    "meta": {
        "templateId": "4588",
        "templateCredsSetupCompleted": true,
        "instanceId": "4701f7347a4f5cee9bc0c09037d1c708a50702ff648d85961a7ca104041df60f"
    },
    "id": "l0t4ArVrwGbuKUey",
    "tags": []
}